<div class="title">
  <img src="../src/assets/images/bobs.png" alt="" class="Burger King">
</div>
<div class="wrapper-menu">
  <p class="text-menu"> <img src="../src/assets/images/supreme-artesanal.png" alt="" class="lanche">SUPREME ARTESANAL</p>
  <p class="text-menu"> <img src="../src/assets/images/big-bob-artesanal.png" alt="" class="lanche">BIG BOB ARTESANAL</p>
  <p class="text-menu"> <img src="../src/assets/images/artesanal-bourbon-bacon.png" alt="" class="lanche">ARTESANAL BOURBON BACON</p>
  <p class="text-menu"> <img src="../src/assets/images/australiano-cheddar.png" alt="" class="lanche">AUSTRALIANO CHEDDAR</p>
  <p class="text-menu"> <img src="../src/assets/images/bobs-artesanal.png" alt="" class="lanche">BOBS ARTESANAL</p>
  <p class="text-menu"> <img src="../src/assets/images/big-bob.png" alt="" class="lanche">BIG BOB</p>
</div>