<div class="title">
  <img src="../src/assets/images/Burger_King.png" alt="" class="Burger King">
</div>
<div class="wrapper-menu">
  <p class="text-menu"> <img src="../src/assets/images/ImagensOutubro-SANDUICHE.jpg" alt="" class="lanche">  WHOPPER MONSTRO</p>
  <p class="text-menu"> <img src="../src/assets/images/Whoppercomqueijo_thumb.png" alt="" class="lanche">  WHOPPER JR.</p>
  <p class="text-menu"> <img src="../src/assets/images/WhopperFurioso_thumb.png" alt="" class="lanche">  WHOPPER FURIOSO</p>
  <p class="text-menu"> <img src="../src/assets/images/MS-rodeio_3.0.jpg" alt="" class="lanche">  MEGA STACKER RODEIO 3.0</p>
  <p class="text-menu"> <img src="../src/assets/images/MS-Catupiry_4.0.png" alt="" class="lanche">  MEGA STACKER CATUPIRY 4.0</p>
  <p class="text-menu"> <img src="../src/assets/images/_BK_CHEDDAR.png" alt="" class="lanche">  MEGA STACKER CHEDDAR 2.0</p>
</div>